:root{
    --primary-color: #9F1BA2;
    --white: rgb(247, 247, 247);
    --golden: #FFD700;
    --teal: #2AA876;
    --hover-shadow: rgba(0, 0, 0, 0.2); 
    --linear-mix: linear-gradient(135deg, #f44336, #e91e63, #9c27b0, #673ab7);
}

*{
    
    padding: 0;
    margin: 0;
    font-family:  "Inter", sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* **************** STANDARD ELEMENTS **************** */
.centered-element{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hor-centered{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    width: fit-content;
    height: 3rem;
    padding: 0 1rem;
    background-color: var(--golden);
    border: none;
    transform: rotate(-5deg);
    font-size: 12pt;
    font-weight: 600;
    color: black;
    position: relative;
    overflow: visible;
    cursor: pointer;
}
.btn::after{
    background: none repeat scroll 0 0 transparent;
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    right: -2px;
    bottom: 0;
    border: 1px solid #000000; /* Couleur de la bordure décalée */
    z-index: -1;
    transform: translate(5px, -5px);
}
.btn:hover::after {
    transform: translate(2px, -2px);
}
/* **************** END STANDARD ELEMENTS **************** */

.header{
    height: 100vh;
    width: 100%;
    background-image: url(img/bg-violet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(145, 0, 202);
    position: relative;
    color: black;
    overflow: hidden;
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.356);

}
/* ********************* Navbar CSS ********************* */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
.navbar img{
    border-radius: 50%;
    width: 6rem;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #69006b;
    z-index: 99999;
    padding-top: 5rem;
    top: 0;
    right: -110vw; /* -110vw */
    transition: 0.3s ease-in-out;
}
.navbar ul li{
    position: relative;
    padding: 20px 15px;
    cursor: pointer;
    z-index: 1;
    text-transform: uppercase;
}
.navbar ul li a{
    color: var(--white);
    font-size: 16pt;
    font-weight: 500;
    transition: 0.2s ease;
}
.navbar ul li a:after{
    background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: var(--teal);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar ul li:hover a:after{
    width: 100%; 
    left: 0;
}
.navbar ul li:hover a{
    color: var(--teal);
}
.navbar ul li:hover{
    border-bottom: 1px solid var(--teal);
}

.fa-bars{
    color: var(--white);
    font-size: 3rem;
    margin-top: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}


/* ****** DARK MODE ****** */
.navbar label{
    display: block;
    margin-top: 3rem;
    margin-left: 0;
    position: relative;
    width: 6rem;
    height: 3rem;
    background-color: var(--white);
    border-radius: 200px;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.452), inset 0 -5px 15px rgba(255, 255, 255, 0.452), 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.navbar label:hover:after{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.575);
}
.navbar label:after {
    content: "";
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 0.2rem;
    left: 0.4rem;
    background: linear-gradient(180deg, #ffed8a, var(--golden));
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
.navbar input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.navbar input:checked + label {
    background: #242424;
}
.navbar input:checked + label:after {
    transform: translateX(100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
.navbar label, .navbar label:after {
    transition: 0.3s ease-in-out;
}
.navbar label:active:after{ 
    width: 45px; 
}
.darkmode{
    background-image: none;
    background-color: #242424 !important;
}
.navbar ul label img{
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 9999;
}
.navbar ul label img:nth-child(1){
    top: 0.5rem;
    left: 0.6rem;
}
.navbar ul label img:nth-child(2){
    top: 0.5rem;
    right: 0.6rem;
    visibility: hidden;
}
.navbar ul label img:nth-child(3){
    top: 0.5rem;
    right: 0.6rem;
}
.navbar input:checked + label img:nth-child(1){
    opacity: 50%;
}
.navbar input:checked + label img:nth-child(3){
    visibility: hidden;
}
.navbar input:checked + label img:nth-child(2){
    visibility: visible;
}

.fa-circle-xmark{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 40px;
    color: var(--golden);
    overflow: visible;
    border:none
}
.fa-circle-xmark::after{
    background: none repeat scroll 0 0 transparent;
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    right: -2px;
    bottom: 0;
    border: 1px solid #000000; /* Couleur de la bordure décalée */
    z-index: 20;
    border-radius: 50%;
    transform: translate(3px, -3px);
}



/* ********************* WELCOME ********************* */
.welcome{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    box-sizing: border-box;
}
.welcome > div:nth-child(1){
    width: 80%;
    text-align: center;
}
.welcome div:nth-child(2){
    display: flex;
    justify-content: center;
    width: 100%;
}
.welcome div:nth-child(1) div button{
    margin-top: 8vh
}
.welcome div:nth-child(2) img{
    width: 50%; 
    transition: 0.5s ease-in-out;
    margin-top: 0;
}
.displace-down{
    position: absolute;
    left: 50%;
    bottom: 2vh;
    transform: translate(-50%, 50%);
}
.displace-down-mobile{
    position: absolute;
    bottom: 1vh;
    transform: translate(0, 90%);
}
.welcome h1{
    color: var(--white);
    font-weight: 700;
    font-size: 18pt;
    margin-bottom: 1rem;
    display: block;
    height: 9vh;
    transition: 0.4s ease-in-out;
   
}
.welcome p{
    color: rgb(212, 212, 212);
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.4s ease-in-out;
}
.welcome button{
    transition: 0.4s ease-in-out;
}



/* ********************* ABOUT ********************* */
.about{
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    height: fit-content;
    padding:  5rem 5rem;
    background: rgb(63,232,165);
    background: radial-gradient(circle, rgba(63,232,165,1) 0%, rgba(42,168,118,1) 100%);
}